@{
    ViewData["Title"] = "Backoffice Page";
}

@if (User.IsInRole("admin"))
{
    <h1>마타유 관리자 페이지</h1>
    <p>여기에 관리자만 접근할 수 있는 콘텐츠를 작성하세요.</p>
} else
{
    //인증관련 뭔가 잘못되었을때 출력. 비로그인/user 롤은 401/403 반환 
    <h1>접근 권한이 없습니다</h1>
    <p>이 페이지에 접근하려면 관리자 권한이 필요합니다.</p>
}