<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Mataju Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/8fvYIFB74L6J6sZl5PU4b2NvQwKf8HEbH8fiV" crossorigin="anonymous">
</head>
<body>
<div class="container">
    @RenderBody()
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-8yCS3EYO1OZOc9oPPzXW8Ao6qNqrUpF1XfaWZTYNBrR1dRUuj4LUpsGd7V6If0zD"
        crossorigin="anonymous"></script>
</body>
</html>